.footer {
    min-height: 630px;
    position: relative;
    text-align: center;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        width: 460px;
        height: 270px;
        transform: translateX(-50%);
        background-color: #C70101;
        padding: 50px 68px 60px 68px;
    }
    &__adr {
        color: white;
        margin-bottom: 36px;
        font-size: 20px;
        font-weight: 500;
    }
    &__phone {
        display: block;
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 38px;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 100%;
        margin: 0 15px;
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    iframe {
        width: 100%;
        height: 630px;
        border: none;
    }
}