.rewiew {
    padding: 55px 0 35px 0;
    &__items {
        display: flex;
        flex-direction: row;
        margin-top: 35px;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__item {
        margin-left: 62px;
        width: 680px;
        margin-bottom: 20px;
    }
    &__title {
        font-size: 20px;
        line-height: 18px;
        color: #0D0D0D;
        font-weight: 700;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
    }
}